In [6]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
df=pd.read_csv('cleaned_shark.csv')

In [8]:
df.head()

,Unnamed: 0,description,entrepreneurs,location,website,shark1,shark2,shark3,shark4,shark5,...,episode-season,deal,episode,askedFor,exchangeForStake,valuation,season,Multiple_Entreprenuers,asked_size,value_size
0,0,Bluetooth device implant for your ear.,Darrin Johnson,MN,0,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,...,1-1,0,1,1000000,15,6666667,1,0,large,large
1,1,Retail and wholesale pie factory with two reta...,Tod Wilson,NJ,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,...,1-1,1,1,460000,10,4600000,1,0,medium,medium
2,2,Ava the Elephant is a godsend for frazzled par...,Tiffany Krumins,GA,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,...,1-1,1,1,50000,15,333333,1,0,small,small
3,3,"Organizing, packing, and moving services deliv...","Nick Friedman, Omar Soliman",FL,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,...,1-1,0,1,250000,25,1000000,1,0,small,small
4,4,One of the first entrepreneurs to pitch on Sha...,Susan Knapp,CA,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,...,1-2,1,2,500000,15,3333333,1,0,medium,medium